<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="@Assets["css/app.css"]" />
        <link rel="stylesheet" href="@Assets["BlazorApp1.styles.css"]" />
        <link rel="stylesheet" href="@Assets["css/tailwind.css"]" />
        <link rel="stylesheet" href="@Assets["css/main.css"]" />
        <link rel="stylesheet" href="@Assets["css/circle-button.css"]" />
        <meta name="description" content="SurePay Limited is a fully registered company offering digital and financial services to small and medium size enterprises (SMEs). Thousands of such businesses struggle to find and adopt appropriate technology and financial solutions to run in a healthy way." />
        <meta name="keywords" content="catalogue, SurePay, products, testing" />
        <ImportMap />
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png">
        <HeadOutlet />
    </head>

    <body>
        <Routes />
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>
